<IfModule authz_core_module>
    Require all denied
    Header set Access-Control-Allow-Origin "*"
</IfModule>
<IfModule !authz_core_module>
    Deny from all
    Header set Access-Control-Allow-Origin "*"
</IfModule>
